<footer>
    <br>
    <nav class="navfoot">
        <ul>
            <li><a href="Connections.html"> Competitions</a></li>
        </ul>
    </nav>
    <nav class="naveFooter2">
        <ul>
            <li><img src="facebook.png" alt="Facebook logo" id="face"></li>
            <li><img src="twitter.png" alt="Twiter Logo" id="twit"  ></li>
        </ul>
    </nav>
    <p id="aboutTerms"> <br> Terms and conditions apply <br>Copyright ©The University of North Carolina at Charlotte</p>
</footer>
</body>
</html>