<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <br>
    <br>
    <br>
    <nav class="navfoot">
        <br>
             <a href='/aboutUs'class="but">About Us</a>
        
       
             <small id="aboutTerms"> <br> Terms and conditions apply <br>Copyright ©The University of North Carolina at Charlotte</small>
             <img src="/images/facebook.png"  id="face"/>
             <img src="/images/twitter.png"  id="twit"/>

             <br>
       <br>
       <br>
    </nav>
   