<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <br>
    <br>
    <br>
    <nav class="navfoot">
        <br>
        <a href='/aboutUs'class="but">About Us</a> 
        <a href='/contactUs'class="but">Contact Us</a>
        <a href='https://www.facebook.com/' class="but"></a><img src="/images/facebook.png"  id="face" class="logo"/></a>
        <a href='https://twitter.com/?lang=en' class="but"></a><img src="/images/twitter.png"  id="twit" class="logo"/></a>
        

        
             <small id="aboutTerms"> <br> Terms and conditions apply <br>Copyright ©The University of North Carolina at Charlotte</small>          
             <br>
       <br>
       <br>
    </nav>
   