<!DOCTYPE html>
<html lang="en">
<head>
    <!-- this is the header-->
    <title>UNCC Cook off</title>
    <meta charset="UTF-8">
    <meta name="description" content="NetWork Bassed app Project">
    <!-- this is the two styles sheets-->
    <!-- The first is the standard one to keep the whole page uniform-->
    <!--- <link rel="stylesheet" type="text/css" href="Uniform.css">-->
     <!--This one is specific to the index page-->
    <link rel="stylesheet" type="text/css" href="index.css">
    <!-- Just seting up the javascript so I don't have to worry about is later-->
    <script src="index.js"></script>

</head>
<body>

<header class="header">
    <!-- this navagation was inspred by this youTube totorial-->
    <!--https://www.youtube.com/watch?v=oYRda7UtuhA-->

    <nav class="naveHeader">
        <ul>
            <li><a href=""> Login</a></li>
            <li><a href=""> Sign up</a></li>
            <li><a href="NewConnection.html">Contact US!</a> </li>

        </ul>
    </nav>
<a href="index.html">
<img src="logoA.png" alt="UNCC Cook Off logo" id="logo"  >
</a>
</header>