<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <nav>
        <a href='/'><img src="/images/logoA.png" class="logo" id="logo"/></a>
        <h2>UNCC Cook Off</h2>
        <a href='/'class="but">Login</a>
        <a href='/stories' class="but">Compititions</a>
        <a href='/stories/new'class="but">Create a New Event</a>
       <a href='/contactUs'class="but">Contact Us</a>
       <a href='/aboutUs'class="but">About Us</a>
        
        <br>
        <br>
        <br>
        <br>
        
    </nav>