<%- include('./partials/header.ejs')%>
    <div class = "content">
        <h2> Welcome to the official Home of the UNCC <em>fake</em> Cook Off </h2>

        <p> We are a for profit orginiazatoin that capializes on student talent to test out in preductions recipes and an avanew to discover new ones. 
        We prid ourselves on being an inclusive company that focuses only on food, and the highest quality resipies. 
        </p>
        <br>
        <p>
            If you would like to continue to support our us feel free to make donations at our information table, set up next to contestient check in.
            It is thanks to patrions like you that we are able to continue to host theses compitions through out the cuntry. 
        </p>

        <br>

        <p>
            Since this is our first year hosting at UNCC we are excited to be able to contribute to the colleges culanary program. 
        </p>
    </div>
    <%- include('./partials/footer.ejs')%>