<%- include('../views/partials/header.ejs')%>
    <div class = "content">
       <h2><%= error.status%> Error </h2>
       <p><%= error.message%></p>
    </div>
    <%- include('../views/partials/footer.ejs')%>