<%- include('../partials/header.ejs')%>
<main>
    <h2> Welcome to the official Home of the UNCC <em>fake</em> Cook Off </h2>

    <p> Our goal is to creat competitions open to everyone regardless of ability.
    We have competition levels beginner through expert in several disciplines. If you
        don't see a discipline that you are interested in enter into the free style compilation.</p>
    <br>
    <p>
        Our competitions run from september 20th to the 28th. To see what day the competition you are interested in
        check our competition page do see more detales.
    </p>
</main>
<%- include('../partials/footer.ejs')%>
